<!-- <div id="myDIV">
                            <h3>Select Slot</h3>
                            <hr>
                            <form novalidate #slotForm="ngForm" (ngSubmit)="confirmSlot(slotForm, candidate.emailId, candidate.id, 'YTS', 'IS')">
                              {{slotForm.value | json}}
                                <div fxLayout="row" fxLayout.md_lt="col" fxLayoutGap="10px" fxLayoutGap.md_lt="0px">
                                    <mat-form-field fxFlex appearance="outline">
                                        <mat-label> Select Date</mat-label>
                                    <input matInput type="datetime-local" id="schedule" name="schedule"> 
<input matInput type="date" id="appt" name="date" (ngModel)="slotForm" #date="ngModel" required>
<mat-error *ngIf="date.errors?.required">Date is required.</mat-error>
</mat-form-field>


<mat-form-field fxFlex appearance="outline">
    <mat-label> Mode </mat-label>
    <mat-select name="mode" (ngModel)="slotForm" #mode="ngModel" required>
        <mat-option value="TCon">TCon</mat-option>
        <mat-option value="MSTeam">MSTeam</mat-option>
        <mat-option value="GMeet">GMeet</mat-option>
        <mat-option value="WebRx">WebRx</mat-option>
    </mat-select>
    <mat-error *ngIf="mode.errors?.required">Mode is required.</mat-error>
</mat-form-field>
</div>

<div fxLayout="row" fxLayout.md_lt="col" fxLayoutGap="10px" fxLayoutGap.md_lt="0px">
    <mat-form-field fxFlex appearance="outline">
        <mat-label> Start Time</mat-label>
        <input matInput type="datetime-local" id="schedule" name="schedule"> 
<input matInput type="time" name="sTime" (ngModel)="sTime" #sTime="ngModel" required>
<mat-error *ngIf="sTime.errors?.required">Time is required.</mat-error>
</mat-form-field>

<mat-form-field fxFlex appearance="outline">
    <mat-label> End Time</mat-label>
    <input matInput type="datetime-local" id="schedule" name="schedule">
    <input matInput type="time" name="eTime" (ngModel)="eTime" #eTime="ngModel" required>
    <mat-error *ngIf="eTime.errors?.required">Time is required.</mat-error>
</mat-form-field>
</div>

<div>

    <div fxFlex>
        <button mat-raised-button color="primary" type="button" style="margin-right: 2px;"
            (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!slotForm.valid">Request Slot
        </button>
    </div>

</div>
</form>
</div> -->

<div [hidden]="submitted" [hidden]="submitted2">
    <mat-toolbar color="primary">
        Email
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar>


    <!-- <p> {{formModel | json}} </p> -->

    <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <mat-dialog-content>

            <p class="p">
                <mat-form-field fxFlex="48">
                    <input matInput placeholder="Sender EmailId" [(ngModel)]="formModel.senderEmail" name="senderEmail"
                        type="text" #senderEmail="ngModel" required>
                    <mat-error *ngIf="senderEmail.errors?.required"> Sender email is required. </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="48">
                    <input matInput placeholder="Candidate EmailId" [(ngModel)]="formModel.candidateMail"
                        name="candidateMail" type="text" #candidateMail="ngModel" required>
                    <mat-error *ngIf="candidateMail.errors?.required"> Candidate email is required. </mat-error>
                </mat-form-field>
            </p>

            <p class="p">
                <mat-form-field fxFlex="48">
                    <input matInput placeholder="Password" name="senderPass" [(ngModel)]="formModel.senderPass"
                        type="password" #senderPass="ngModel" required>
                    <mat-error *ngIf="senderPass.errors?.required"> Password is required. </mat-error>
                </mat-form-field>
            </p>

            <p class="p">
                <mat-form-field fxFlex>
                    <mat-label>Cc</mat-label>
                    <mat-chip-list #chipList>
                        <mat-chip [color]="(item.invalid)?'warn':''" selected
                            *ngFor="let item of emailList; let i=index" [selectable]="true" [removable]="removable"
                            (removed)="removeEmail(item)" required name="chips">
                            {{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="enter cc " [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes " [matChipInputAddOnBlur]="true "
                            (matChipInputTokenEnd)="add($event) " />
                    </mat-chip-list>
                    <mat-error *ngIf="rulesForm.get('emails').hasError('incorrectEmail')">Invalid email ID</mat-error>
                </mat-form-field>
            </p>

            <p class="p">
                <mat-form-field fxFlex>
                    <mat-label>Bcc</mat-label>
                    <mat-chip-list #chipList1>
                        <mat-chip [color]="(item.invalid)?'warn':''" selected
                            *ngFor="let item of emailList2; let i=index" [selectable]="true" [removable]="removable"
                            (removed)="removeEmail2(item)" required name="chips1">
                            {{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="enter bcc " [matChipInputFor]="chipList1"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes " [matChipInputAddOnBlur]="true "
                            (matChipInputTokenEnd)="add1($event) " />
                    </mat-chip-list>
                    <mat-error *ngIf="rulesForm.get('emails').hasError('incorrectEmail')">Invalid email ID</mat-error>
                </mat-form-field>
            </p>

            <div>
                <label>Document</label> <br>
                <hr>
                <input type="file" name="doc" [src]="candidate_cv" (change)="onDocSelect($event)"
                    accept=".pdf,.doc,.docx" required>
            </div>

            <p>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Compose</mat-label>
                    <textarea matInput placeholder="Compose........" [(ngModel)]="formModel.compose" name="compose"
                        type="text" #compose="ngModel" required cols="10" rows="4"
                        (keyup)="autoGrowTextZone($event)"> Compose.......</textarea>
                    <mat-error *ngIf="compose.errors?.required"> Compose mail is required. </mat-error>
                </mat-form-field>

            </p>
            <!-- <P>
                <ngx-recaptcha2 #captchaElem [siteKey]="'6LeOZ4YUAAAAAJ8clQYNtOXNDHsd58KZHyJeILk6'"
                    (success)="handleSuccess($event)" [useGlobalDomain]="false" [(ngModel)]="formModel.captcha"
                    name="captcha" #captchaControl="ngModel" required>
                </ngx-recaptcha2>
                <mat-error *ngIf="captchaControl.errors?.required"> Captcha must be solved. </mat-error>
            </P> -->
        </mat-dialog-content>
        <mat-dialog-actions>
            <span class="flex-spacer"></span>
            <button mat-raised-button color="primary" mat-dialog-close> Cancel</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Sent</button>
        </mat-dialog-actions>

    </form>
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</div>

<div [hidden]="!submitted">
    <mat-toolbar color="primary">
        Email successfully sent !
    </mat-toolbar>
    <br>
    <mat-toolbar color="primary">
        Profile successfully shared to client !
    </mat-toolbar>
    <br> <br>
    <div style="text-align: center;"><button mat-raised-button color="primary" (click)="close()">Close
            <mat-icon suffix>close</mat-icon>
        </button></div>
</div>

<div [hidden]="!submitted2">
    <mat-toolbar color="primary">
        Email successfully sent !
    </mat-toolbar>
    <br>
    <mat-toolbar color="primary">
        Slot confirmation successfully sent to candidate !
    </mat-toolbar>
    <br> <br>
    <div style="text-align: center;"><button mat-raised-button color="primary" (click)="close()">Close
            <mat-icon suffix>close</mat-icon>
        </button></div>
</div>



<!-- <form #captchaProtectedForm="ngForm">
    <ngx-recaptcha2 #captchaElem [siteKey]="'6LeOZ4YUAAAAAJ8clQYNtOXNDHsd58KZHyJeILk6'"
        (success)="handleSuccess($event)" [useGlobalDomain]="false" [(ngModel)]="formModel.captcha" name="captcha"
        required #captchaControl="ngModel">
    </ngx-recaptcha2>
    <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
    <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
    <div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>
    <div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div>
    <button (click)="formModel.captcha = ''">Reset Captcha</button>
</form> -->


<!-- <a href="mailto@gmail.com:{{email}}">Contact via E-mail</a> -->