<div class="container footer" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAligh="center center"
  fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="100">

    <div fxLayout="row">

      <!-- <div fxFlex="100" fxFlexOffset="20px">
        <h4> Links </h4>
        <mat-list>
          <mat-list-item><a routerLink="/home" style="text-decoration:none">Home</a></mat-list-item>
          <mat-list-item><a routerLink="/createopening" style="text-decoration:none">Create Opening</a></mat-list-item>
          <mat-list-item><a routerLink="/employeelist" style="text-decoration:none">Report Dashboard</a></mat-list-item>
          <mat-list-item><a routerLink="/employeedetail" style="text-decoration:none">Employee Dashboard</a></mat-list-item>
        </mat-list>
      </div> -->

      <div fxFlex="55" fxFlexOffset="20px">
        <h4> Quick Links </h4>
        <address style="text-size-adjust: 80%;">
          <i class="fa fa-angle-double-right"></i>: <a href="https://jgdtec.com/" target="_blank">JGDTech Pvt Ltd</a>
          <br>
          <i class="fa fa-angle-double-right"></i>: <a href="https://www.izeetek.com/" target="_blank">Izeetek
            Solution</a> <br>
          <i class="fa fa-angle-double-right"></i>: <a href="https://jgdtec.com/" target="_blank">Our Products</a> <br>
          <i class="fa fa-angle-double-right"></i>: <a href="https://www.izeetek.com/" target="_blank">Our Services</a>
          <br>
          <i class="fa fa-angle-double-right"></i>: <a href="https://www.izeetek.com/" target="_blank">Service
            Offering</a> <br>
        </address>
        <!-- <address style="text-size-adjust: 80%;">
          <i class="fa fa-phone"></i>: +91 1234567890<br>
          <i class="fa fa-fax"></i>: +91 0123456789<br>
        </address> -->
      </div>

      <div fxFlex="55">
        <!-- <h4> Useful Links </h4> -->
        <!-- <address style="text-size-adjust: 80%;">
          <i class="fa fa-phone"></i>: +91 1234567890<br>
          <i class="fa fa-fax"></i>: +91 0123456789<br>
        </address> -->
      </div>
      <div fxFlex="55">
        <h4> Quick Contact </h4>
        <address style="text-size-adjust: 80%;">
          <i class="fa fa-phone"></i>: +91 1234567890<br>
          <i class="fa fa-fax"></i>: +91 0123456789<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:ai@izeetek.com">ai@izeetek.com</a> <br>
          4th Floor, SGR Plaza, HAL Old Airport Rd,<br> Marathahalli, Bengaluru, Karnataka 560037.
        </address>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="45">
        <div style="text-align: center;">
          <a mat-icon-button class="btn-google-plus" href="http://google.com/+" target="blank">
            <i class="fa fa-google-plus fa-lg"></i>
          </a>
          <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id=" target="blank">
            <i class="fa fa-facebook fa-lg"></i>
          </a>
          <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/izeetek-solutions-2054a01ba/"
            target="blank">
            <i class="fa fa-linkedin fa-lg"></i>
          </a>
          <a mat-icon-button class="btn-twitter" href="http://twitter.com/" target="blank">
            <i class="fa fa-twitter fa-lg"></i>
          </a>
          <a mat-icon-button class="btn-youtube" href="http://youtube.com/" target="blank">
            <i class="fa fa-youtube fa-lg"></i>
          </a>
          <a mat-icon-button class="btn-mail" href="mailto:ai@izeetek.com" target="blank">
            <i class="fa fa-envelope-o fa-lg"></i>
          </a>
        </div>
      </div>

    </div>

  </div>

  <!-- <div fxFlex="100" fxFlex.gt-sm="0">
    <p>© Copyright 2021 Izeetek Pvt. Ltd.</p>
  </div> -->


</div>