.header {
    height: 14vh;
    background: #135e81;
    color: floralwhite;
}

.content {
    background: #135e81;
    color: floralwhite;
    height: 92vh;
}

mat-progress-spinner {
    position: absolute;
    top: 100px;
}

circle {
    stroke-width: 11%;
}
