$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$background-moredark: #4527a0;

th {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    color: blueviolet;
    background-color: lightblue;
    font-size: 15px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
}

td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    // height: 50px;
    // width: 1370px;
    font-size: 13px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    color: darkblue;
}
table {
    border-radius: 5px 5px 5px 5px;
    border-collapse: collapse;
    padding: 5px;
    margin-left: 1px;
    width: 99%;
}

table tr:nth-child(odd) {
    background-color: lightcyan;
}
table tr:nth-child(even) {
    background-color: lightsalmon;
}

.table-responsive {
    overflow-y: auto;
    height: 500px;
}
.table-responsive thead th {
    position: sticky;
    top: 0;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}

mat-raised-button {
    width: 50px;
}

.dropdown {
    float: left;
    overflow: hidden;
    text-align: center;
}

.dropdown .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    background-color: #135e81;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: $background-moredark;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #135e81;
    min-width: 120px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
    height: auto;
}

.dropdown-content a:hover {
    background-color: $background-moredark;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown1 {
    overflow: hidden;
    text-align: center;
}

.navbar a:hover,
.dropdown1:hover .dropbtn1 {
    background-color: $background-moredark;
}

.dropdown1-content1 {
    float: left;
    display: none;
    // position: absolute;
    background-color: #d1c4e9;
    min-width: 120px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown1-content1 a {
    float: none;
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 10px;
    height: auto;
}

.dropdown1-content1 a:hover {
    background-color: lightgreen;
}

.dropdown1:hover .dropdown1-content1 {
    display: block;
}

#myDIV {
    width: auto;
    // padding: 50px 0;
    // text-align: center;
    background-color: lightblue;
    // margin-top: 20px;
    position: fixed;
    display: none;
    float: right;
}

.dropdown2 {
    overflow: hidden;
    text-align: center;
}

.navbar a:hover,
.dropdown2:hover .dropbtn2 {
    background-color: lightcoral;
}

.dropdown2-content2 {
    float: left;
    display: none;
    // position: absolute;
    background-color: lightsalmon;
    min-width: 120px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown2-content2 a {
    float: none;
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 10px;
    height: auto;
}

.dropdown2-content2 a:hover {
    background-color: lightblue;
}

.dropdown2:hover .dropdown2-content2 {
    display: block;
}
