<mat-card>
    <div id="candidatedetails">
        <div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
                <div style="font-size: 25px;" fxFlex>
                    <!-- <label for=""> <b> {{employeeName}} Daily Work Report </b> </label> -->
                    <label for=""> <b> {{employeeName}} Team Work Report </b> </label>
                </div>

                <div style="text-align: start; font-size: 14px;">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="searchText1">
                        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <button mat-button matSuffix (click)="dateFormat()">
                            <mat-icon matSuffix>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <div id="performanceTable" style="display: block;" class="table-responsive1">
                <div class="animate">
                    <span> 1. If you are looking for old data. Please select date and It will take month and year.
                        Thankyou
                        !</span>
                </div>
                <table class="table1">
                    <thead>
                        <tr>
                            <th scope="col" style="background-color: brown; color: black;">T</th>
                            <th scope="col" style="background-color: yellow; color: black;">SFP</th>
                            <th scope="col" style="background-color: lightblue; color: black;">SWC</th>
                            <!-- <th scope="col" style="background-color: green; color: black;">SS</th>
                            <th scope="col" style="background-color: red; color: black;">SR</th> -->
                            <th scope="col" style="background-color: lightcoral; color: black;">D</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">P</th>
                            <th scope="col" style="background-color: green; color: black;">L1-YTS</th>
                            <th scope="col" style="background-color: red; color: black;">L1-IS</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">L1-IFP</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">L1-R</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">L1-S</th>
                            <th scope="col" style="background-color: red; color: black;">L2-IS</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">L2-IFP</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">L2-R</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">L2-S</th>
                            <th scope="col" style="background-color: red; color: black;">L3-IS</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">L3-IFP</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">L3-R</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">L3-S</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">FR</th>
                            <th scope="col" style="background-color: lightgreen; color: black;">FS</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">OP</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">YTJ</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">DO</th>
                            <th scope="col" style="background-color: lightcoral; color: black;">J</th>

                            <!-- <th scope="col" style="background-color: lightcoral; color: black;">Selected Candidates
                            </th> -->

                            <!-- <th scope="col" style="background-color: green; color: black;">P</th>
                            <th scope="col" style="background-color: yellow; color: black;">FS</th>
                            <th scope="col" style="background-color: red; color: black;">YTS</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color: brown; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('T')">
                                    <b>{{tCount}}</b>
                                </button>
                            </td>

                            <td style="background-color: yellow; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('SFP')">
                                    <b>{{sfpCount}}</b>
                                </button>
                            </td>

                            <td style="background-color: lightblue; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('SWC')">
                                    <b>{{swcCount}}</b>
                                </button>
                            </td>

                            <!-- <td style="background-color: green; color: black;width: auto;width: auto;height: auto;">
                                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                                    (click)="filterData('SS')">
                                    <b>{{ssCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: red; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                                    (click)="__filterRejectedData('SR')">
                                    <b>{{srCount}}</b>
                                </button>
                            </td> -->
                            <td style="background-color: lightcoral; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('D')">
                                    <b>{{dCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightcoral; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('P')">
                                    <b>{{pCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('YTS')">
                                    <b>{{l1ytsCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('IS')">
                                    <b>{{l1isCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('IFP')">
                                    <b>{{l1ifpCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L1-R')">
                                    <b>{{l1rCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L1-S')">
                                    <b>{{l1sCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L2-IS')">
                                    <b>{{l2isCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L2-IFP')">
                                    <b>{{l2ifpCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L2-R')">
                                    <b>{{l2rCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L2-S')">
                                    <b>{{l2sCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L3-IS')">
                                    <b>{{l3isCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L3-IFP')">
                                    <b>{{l3ifpCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L3-R')">
                                    <b>{{l3rCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('L3-S')">
                                    <b>{{l3sCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon"
                                    (click)="__filterRejectedData('SR')">
                                    <b>{{srCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('FS')">
                                    <b>{{fsCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('OP')">
                                    <b>{{opCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('YTJ')">
                                    <b>{{ytjCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('DO')">
                                    <b>{{doCount}}</b>
                                </button>
                            </td>
                            <td style="background-color: lightgreen; color: black;width: auto;height: auto;">
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon" (click)="filterData('J')">
                                    <b>{{jCount}}</b>
                                </button>
                            </td>
                            <!-- <td><a href="/$" style="text-decoration: none;"><b>Name</b></a></td> -->
                            <!-- <td style="background-color: green; color: black;width: auto;height: auto;">19</td>
                            <td style="background-color: yellow; color: black;width: auto;height: auto;">10</td>
                            <td style="background-color: red; color: black;width: auto;height: auto;">10</td> -->

                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="detailsTable" style="display: block;" class="table-responsive" #TABLE>
                <table class="table" #table>
                    <thead>
                        <tr>
                            <th scope="col" style="width: auto;">S.No</th>
                            <th scope="col">Date</th>
                            <th scope="col"> Recruiter Name </th>
                            <th scope="col"> Recruiter Mobile </th>
                            <th scope="col"> Recruiter Email </th>
                            <th scope="col"> Employee Type </th>
                            <th scope="col"> Contract Duration </th>
                            <th scope="col"> Role </th>
                            <th scope="col"> Opening Location </th>
                            <th scope="col"> Comapny name </th>
                            <th scope="col"> Client Name </th>
                            <th scope="col"> Required Experiance </th>
                            <th scope="col"> Budget Range </th>
                            <th scope="col"> Required Notice Period </th>
                            <th scope="col"> Job Description </th>
                            <th scope="col"> Mandatory Skills </th>
                            <th scope="col"> WFH </th>
                            <th scope="col">Slots</th>
                            <th scope="col"> Candidate Name </th>
                            <th scope="col">Candidate Email</th>
                            <th scope="col"> Candidate Mobile </th>
                            <th scope="col"> Total Exp </th>
                            <th scope="col">Relevant Exp</th>
                            <th scope="col"> Current Company </th>
                            <th scope="col"> CCTC </th>
                            <th scope="col"> ECTC </th>
                            <th scope="col"> Notice Period </th>
                            <th scope="col"> Current Location </th>
                            <th scope="col"> Preferred Location </th>
                            <th scope="col"> Recruiter Remarks </th>
                            <th scope="col"> Holding Offer </th>
                            <th scope="col"> Offered Company </th>
                            <th scope="col"> OCTC </th>
                            <th scope="col"> EJD </th>
                            <th scope="col"> SNP </th>
                            <th scope="col"> LWD </th>
                            <th scope="col">TL Remarks</th>
                            <th scope="col">SPOC Remarks</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <!-- <tbody *ngFor="let company of dataSource | filter:searchText;let i=index"> -->
                    <tbody *ngFor="let data of dataSource ;let i=index">
                        <tr>
                            <td scope="row"> {{i+1}} </td>
                            <td>{{data.dos | date: 'longDate'}} </td>
                            <td>{{data.recruiterName}}</td>
                            <td> {{data.recruiterMobileNumber}} </td>
                            <td>{{data.officeEmailId}} </td>
                            <td> {{data.employeeType}} </td>
                            <td> {{data.contractDuration}} </td>
                            <td> {{data.role}} </td>
                            <td> {{data.openingLocation}} </td>
                            <td> {{data.companyName}} </td>
                            <td> {{data.clientName}} </td>
                            <td> {{data.requiredExperiance}} </td>
                            <td> {{data.budgetRange}} </td>
                            <td> {{data.noticePeriod}} </td>
                            <td> {{data.jobDescription}} </td>
                            <td> {{data.mandatorySkills}} </td>
                            <td> {{data.wfh}} </td>
                            <td> {{data.slot}} </td>
                            <td> {{data.candidateName}} </td>
                            <td> {{data.emailId}} </td>
                            <td> {{data.mobileNumber}} </td>
                            <td> {{data.totalExperiance}} </td>
                            <td> {{data.relatedExperiance}} </td>
                            <td> {{data.currentCompanyName}} </td>
                            <td> {{data.cctc}} </td>
                            <td> {{data.ectc}} </td>
                            <td> {{data.np}} </td>
                            <td> {{data.currentLocation}} </td>
                            <td> {{data.preferredLocation}} </td>
                            <td> {{data.recruiterRemarks}} </td>
                            <td> {{data.holdingOffer}} </td>
                            <td> {{data.offeredCompanyName}} </td>
                            <td> {{data.octc}} </td>
                            <td> {{data.ejd}} </td>
                            <td> {{data.snp}} </td>
                            <td> {{data.lwd}} </td>
                            <td> {{data.profilePosition}} </td>
                            <td></td>
                            <td>
                                <a mat-button (click)="resumeView(data.emailId)" routerLinkActive="active">
                                    <span class="fa fa-eye fa-lg"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="isLoading"
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>
        <br>
        <button mat-raised-button color="primary" (click)="back()">Previous Page</button>
        <button style="margin-left: 1%;" mat-raised-button color="primary" (click)="ExportTOExcel()">Export as
            Excel</button>
    </div>


    <div id="pdffile" style="display: none;">
        <div>
            <div style="font-size: 25px;" fxFlex>
                <label for=""> <b>Candidate Profile</b> </label>
            </div>
            <div style="text-align: end; margin: 5px;">
                <button mat-raised-button color="primary" (click)="returnCandidate()">
                    <mat-icon matPrefix>person_outline</mat-icon>
                    Back to Candidate Detail
                </button>
            </div>
        </div>
        <hr>
        <div style="text-align: center;">
            <iframe [src]=candidate_cv class="doc">
            </iframe>
        </div>
    </div>
</mat-card>