<div id="openingForm">
    <mat-card>
        <div>
            <div style="font-size: 25px;" fxFlex>
                <label for=""> <b>Create Opening</b> </label>
            </div>
            <div class="buttons" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
                <button mat-button fxFlex class="background-primary text-floral-white" (click)="addDomain()">Add New
                    Domain</button>
                <button mat-button fxFlex class="background-primary text-floral-white" type="submit"
                    (click)="addLocation()">Add New Location</button>
            </div>
        </div>
        <hr>
        <div [hidden]="submitted" style="width:100%;" class="table-responsive">
            <!-- <p>{{ openingForm.value | json }} </p> -->
            <!-- <p>{{ opening | json }} </p> -->
            <form autocomplete="off" fxLayout="column" novalidate #openingForm="ngForm" (ngSubmit)="onSubmit(openingForm)">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label> Employement Type </mat-label>
                        <mat-select matNativeControl id="employeeType" name="employeeType"
                            (selectionChange)="contract($event.value)" [(ngModel)]="opening.employeeType"
                            #employeeType="ngModel" required>
                            <mat-option value="Permanent">Permanent</mat-option>
                            <mat-option value="Contract">Contract</mat-option>
                        </mat-select>
                        <mat-error>Employee Type is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex id="contractId" style="display: none; margin-right: 20px;"
                        appearance="outline">
                        <mat-label> Duration </mat-label>
                        <input matInput type="text" placeholder="Duration" id="contractDuration" name="contractDuration"
                            [(ngModel)]="opening.contractDuration">
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label> Payroll Company </mat-label>
                        <mat-select (selectionChange)="companyClients($event.value)" [(ngModel)]="opening.companyName"
                            name="companyName" #companyName="ngModel" required>
                            <mat-option *ngFor="let company of companies" [value]="company.companyName">
                                {{ company.companyName }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="companyName.errors?.required"> CompanyName is required. </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex id="clientBlockId" style="display: none; margin-left: 20px;"
                        appearance="outline">
                        <mat-label>Select Clients</mat-label>
                        <mat-select id="clientName" name="clientName" [(ngModel)]="opening.clientName" #select multiple>
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelection()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClick()" *ngFor="let client of clients"
                                [value]="client.clientName">
                                {{client.clientName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px">

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Select Domain</mat-label>
                        <mat-select id="domain" (selectionChange)="domailRoles($event.value)"
                            [(ngModel)]="opening.domain" name="domain" #domain="ngModel" required>
                            <mat-option *ngFor="let domain of domains" [value]="domain.id">
                                {{domain.domains}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="domain.errors?.required"> Role is required. </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Select Role</mat-label>
                        <mat-select matNativeControl id="role" [(ngModel)]="opening.role" name="role" #role="ngModel"
                            required>
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{role}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="role.errors?.required"> Role is required. </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Location</mat-label>
                        <!-- <input matInput type="text" name="location" id="location" placeholder="It will come from company"
                                [(ngModel)]="opening.location"> -->
                        <mat-select [(ngModel)]="opening.location" id="Location" name="Location" #Location="ngModel"
                            required>
                            <mat-option *ngFor="let loc of location" [value]="loc.location">
                                {{loc.location}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="Location.errors?.required">Location is required.</mat-error>
                    </mat-form-field>


                </div>
                <!--<span layout="row">
                        <hr flex />
                    </span>-->
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px">

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Budget Range</mat-label>
                        <input matInput type="text" placeholder="3x, 20 LPA" id="budgetRange" name="budgetRange"
                            [(ngModel)]="opening.budgetRange" #budgetRange="ngModel" required>
                        <mat-hint> Hint : 4 to 8 lac</mat-hint>
                        <mat-error *ngIf="budgetRange.errors?.required"> Budget Range is required. </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>No of Position</mat-label>
                        <input matInput type="number" placeholder="eg. 4" id="nop" name="nop" [(ngModel)]="opening.nop"
                            #nop="ngModel" required>
                        <mat-error *ngIf="nop.errors?.required"> NOP is required. </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Experiance</mat-label>
                        <input matInput type="text" id="experiance" name="experiance" placeholder="2 to 6 year.."
                            [(ngModel)]="opening.experiance" #experiance="ngModel" required>
                        <mat-hint> Hint : 2 to 6 year</mat-hint>
                        <mat-error *ngIf="experiance.errors?.required">Experiance is required.</mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field fxFlex appearance="outline">
                            <mat-label>Notice Period</mat-label>
                            <input matInput type="text" id="noticePeriod" name="noticePeriod"
                                placeholder="Immediate to 45 days..." [(ngModel)]="opening.noticePeriod"
                                #noticePeriod="ngModel" required>
                            <mat-error *ngIf="noticePeriod.errors?.required">Notice period is required.</mat-error>
                        </mat-form-field> -->

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Notice Period</mat-label>
                        <mat-select matNativeControl id="noticePeriod" name="noticePeriod"
                            [(ngModel)]="opening.noticePeriod" #noticePeriod="ngModel" required>
                            <mat-option *ngFor="let np of noticePeriods" [value]="np">
                                {{np}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="noticePeriod.errors?.required">Notce period is required.</mat-error>
                    </mat-form-field>

                </div>
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Job Description</mat-label>
                        <textarea matInput name="jobDescription" id="jobDescription" cols="30" rows="2"
                            placeholder="JD........." [(ngModel)]="opening.jobDescription" #jobDescription="ngModel"
                            required (keyup)="autoGrowTextZone($event)"></textarea>
                        <mat-error *ngIf="jobDescription.errors?.required">JD is required.</mat-error>
                    </mat-form-field>

                </div>

                <!--<span layout="row">
                        <hr flex />
                    </span>-->
                <label fxFlex> <b>Work from home</b> * </label> <br>
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px">
                    <label for="chkYes">
                        <input type="radio" id="chkYes" name="chk" (click)="ShowHideDiv()" />
                        Yes
                    </label>
                    <label for="chkNo">
                        <input type="radio" id="chkNo" name="chk" (click)="ShowHideDiv()" />
                        No
                    </label>
                </div>

                <span layout="row">
                    <hr flex />
                </span>
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px">
                    <mat-form-field id="dvtext" style="display: none" fxFlex appearance="outline">
                        <mat-label>Time Duration</mat-label>
                        <input matInput type="text" id="noticePeriod" name="wfh"
                            placeholder="15 days, 1 month....something else." [(ngModel)]="opening.wfh" #wfh="ngModel">
                        <!-- <mat-error *ngIf="wfh.errors?.required">Time duration for work from home is required.
                            </mat-error> -->
                    </mat-form-field>
                </div>

                <!--<span layout="row">
                        <hr flex />
                    </span>-->


                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Mandatory Skills</mat-label>
                    <input matInput type="text" [(ngModel)]="opening.mandatorySkills" name="mandatorySkills"
                        #mandatorySkills="ngModel" required>
                    <mat-error *ngIf="mandatorySkills.errors?.required">Skills are required.</mat-error>
                    <!-- <mat-chip-list #chipList aria-label="Skill selection" [ngModel]="opening.mandatorySkills"
                            name="mandatorySkills" #mandatorySkills="ngModel" required>
                            <mat-chip *ngFor="let skill of skills" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(skill)">
                                {{skill}}
                                <button matChipRemove *ngIf="removable">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Add Skills..." #skillInput [formControl]="skillCtrl"
                                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                                {{skill}}
                            </mat-option>
                        </mat-autocomplete> -->
                </mat-form-field>


                <!--<div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <h4>Mandatory Skills *</h4>
                        <p>
                            <mat-checkbox [(ngModel)]="opening.mandatorySkills.python" name="python">Python </mat-checkbox>
                        </p>
                        <p>
                            <mat-checkbox [(ngModel)]="opening.mandatorySkills.machineLearning" name="machineLearning">Machine
                                Learning </mat-checkbox>
                        </p>
                        <p>
                            <mat-checkbox [(ngModel)]="opening.mandatorySkills.deepLearning" name="deepLearning"> Deep Learning
                            </mat-checkbox>
                        </p>
        
                    </div>-->

                <h4> If any specific question, which we need to cross check with candidates * </h4>
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px">
                    <label for="chkYes1">
                        <input type="radio" id="chkYes1" name="chk1" (click)="ShowHideDiv1()" />
                        Yes
                    </label>
                    <label for="chkNo1">
                        <input type="radio" id="chkNo1" name="chk1" (click)="ShowHideDiv1()" />
                        No
                    </label>
                </div>
                <span layout="row">
                    <hr flex />
                </span>
                <div>

                    <div id="dvtext2" style="display: none">
                        <ol *ngFor="let ques of opening.questions; let i=index">
                            <p>Q.{{i+1}}. {{ques}}</p>
                        </ol>
                    </div>

                    <mat-form-field id="dvtext1" style="display: none" appearance="outline">
                        <mat-label>List of Questions</mat-label>
                        <!-- <select matNativeControl id="question" name="question" [(ngModel)]="selectedQuestion.question"
                                #question="ngModel" required>
                                <option *ngFor="let question of questions">
                                    {{question}}
                                </option>
                            </select> -->
                        <input matInput type="text" id="question" name="question" placeholder="Write question......"
                            [(ngModel)]="selectedQuestion.question">
                        <button mat-button matSuffix type="button" (click)="addQuestion(selectedQuestion.question)">
                            <mat-icon>library_add</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div>
                    <h4>Upload Sample</h4>
                    <input type="file" name="profile" (change)="onFileSelect($event)" accept=".pdf,.doc,.docx" />
                </div>
                <br>
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="10px">
                    <button fxFlex="20" mat-raised-button color="warn" type="button" (click)="cancel()">Back</button>
                    <button fxFlex="20" mat-raised-button color="primary" type="submit"
                        [disabled]="!openingForm.valid">Create</button>
                </div>

            </form>
        </div>

        <div [hidden]="!submitted">
            <h4>Successfully submitted.</h4>
            <h5>New opening is created.</h5>
            <h5>Thanks !</h5>
        </div>

    </mat-card>
</div>

<div id="domainForm" style="display: none;">
    <mat-card>
        <h3>Add New Domain and Sub-Domain</h3>
        <!-- <p>{{domainForm.value | json}}</p> -->
        <hr>
        <br>
        <form autocomplete="off" novalidate [formGroup]="domainForm" (ngSubmit)="submitDomain()">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="5px">
                <mat-form-field fxFlex="25">
                    <mat-label>Domain</mat-label>
                    <input matInput type="text" id="domain" placeholder="Enter domain name.." formControlName="domain"
                        required>
                    <!-- <mat-error *ngIf="domain.errors?.required">Domain name is required.</mat-error> -->
                    <mat-error>Domain name is required.</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field fxFlex="40">
                    <mat-label>Sub-Domain</mat-label>
                    <mat-chip-list #chipList>
                        <mat-chip [color]="(item.invalid)?'warn':''" selected
                            *ngFor="let item of subDomainlList; let i=index" [selectable]="true" [removable]="removable"
                            (removed)="removeEmail(item)" required name="chips">
                            {{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input matInput type="text" id="subDomain" name="subDomain" placeholder="Enter domain name.."
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes "
                            [matChipInputAddOnBlur]="true " (matChipInputTokenEnd)="addSubDomain($event) " />
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
                <button fxFlex="10" type="button" mat-raised-button color="warn" (click)="back()">Back</button>
                <button fxFlex="10" mat-raised-button color="primary" type="submit" [disabled]="!domainForm.valid">Create</button>
            </div>
        </form>
    </mat-card>

</div>

<div id="locationForm" style="display: none; height: 75vh;">
    <mat-card>
        <h3>Add New Location</h3>
        <!-- <p>{{locationForm.value | json}}</p> -->
        <hr>
        <br>
        <form autocomplete="off" novalidate [formGroup]="locationForm" (ngSubmit)="submitLocation()">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="5px">
                <mat-form-field fxFlex="25">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" id="location" placeholder="Enter location name.."
                        formControlName="location" required>
                    <mat-error>Location name is required.</mat-error>
                </mat-form-field>
            </div>

            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
                <button fxFlex="10" type="button" mat-raised-button color="warn" (click)="back()">Back</button>
                <button fxFlex="10" mat-raised-button color="primary" type="submit" [disabled]="!locationForm.valid" >Create</button>
            </div>
        </form>
    </mat-card>

</div>