<mat-card>

    <div id="openingList" style="display: block;">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
            <div style="font-size: 25px;" fxFlex>
                <label for=""> <b>Work Allocation</b> </label>
            </div>
            <div style="font-size: 14px;">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="searchText1">
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <button mat-button matSuffix (click)="dateFormat()">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <div class="animate">
                <span> 1. If you are looking for old data. Please select date and It will take month and year. Thankyou
                    !</span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Date and Time</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Requirement </th>
                        <!-- <th scope="col">Status</th> -->
                        <th scope="col">Recruiter</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let opening of openings | async | filter:searchText; let i = index"> -->
                    <tr *ngFor="let opening of openings; let i = index">
                        <td> {{i+1}} </td>
                        <td>{{opening.dt}} </td>
                        <td>
                            <!--<div *ngFor="let item of opening.companyName | keyvalue">
                            <ul *ngIf=item.value is true>
                                <li>{{item.key | uppercase}}</li>
                            </ul>
                        </div>-->
                            {{opening.companyName}}
                        </td>
                        <td>
                            <!--<div *ngFor="let item of opening.clientName | keyvalue">
                            <ul *ngIf=item.value is true>
                                <li>{{item.key | uppercase}}</li>
                            </ul>
                        </div>-->
                            {{opening.clientName}}
                        </td>
                        <td>{{opening.role}}</td>
                        <!-- <td>{{opening.position}} </td> -->
                        <td>
                            <mat-form-field style="font-size: 10px;">
                                <mat-select (selectionChange)="recruiterAllocation($event.value,opening.id)">
                                    <mat-option *ngFor="let emp of employees" [value]="emp.id">
                                        <p *ngIf="emp.designation != 'Manager' ">{{emp.employeeName}}</p>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="font-size: 10px;">
                                <!-- <mat-select (selectionChange)="slotAllocation($event.value)">
                                    <mat-option *ngFor="let slot of slots" [value]="slot">
                                        <p>{{slot}}</p>
                                    </mat-option>
                                </mat-select> -->
                                <mat-select (selectionChange)="slotAllocation($event.value)" #select multiple>
                                    <div class="select-all">
                                        <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                                            (change)="toggleAllSelection()">Select All</mat-checkbox>
                                    </div>
                                    <mat-option (click)="optionClick()" *ngFor="let slot of slots" [value]="slot">
                                        {{slot}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <div>
                                <a class="myClickableThingy"
                                    (click)="displayDoc(opening.role,opening.companyName, opening.clientName, opening.dt)">
                                    <span class="fa fa-eye fa-lg" aria-hidden="true"></span>
                                </a>
                                <a class="myClickableThingy1" (click)="workAllocation(opening.id)"><span
                                        class="fa fa-sign-in fa-lg"></span></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="isLoading"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>

        <br>

        <button mat-raised-button color="warn" (click)="list()">Back to Report Dashboard</button>
    </div>

    <div id="openingSample" style="display: none;">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
            <div fxFlex>
                <label for=""><b>Requirement</b> </label> : {{role}} <br>
                <label for=""><b>Company Name</b> </label> : {{companyName}} <br>
                <label for=""><b>Client Name</b> </label> : {{clientName}} <br>
                <label for=""><b>Opening Date</b> </label> : {{dt}} <br>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="back()">
                    <mat-icon matPrefix>arrow_back</mat-icon>
                    Back to Company List
                </button>
            </div>
        </div>
        <hr>
        <div>
            <h3>Opening Sample</h3>
            <hr>
            <div style="text-align: center;">
                <iframe [src]=resumeDoc allow="companyDoc" class="doc">
                </iframe>
            </div>
        </div>
    </div>

</mat-card>