<mat-card>
    <div id="openingForm">
        <div>
            <div style="font-size: 25px;" fxFlex>
                <label for=""> <b>Register Company</b> </label>
            </div>
            <div style="text-align: end; margin: 5px;">
                <button mat-raised-button color="primary" (click)="addLocation()">
                    <mat-icon matPrefix>edit_outline</mat-icon>
                    Add New Branch
                </button>
            </div>
        </div>
        <hr>
        <div [hidden]="submitted" style="width:100%;" class="table-responsive">

            <!-- <p> {{company | json}} </p> -->
            <form fxLayout="column" novalidate #companyForm="ngForm" (ngSubmit)="onSubmit(companyForm)">
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="100px"
                    fxLayoutGap.lt-md="0px">

                    <mat-form-field fxFlex>
                        <mat-label>Company Name</mat-label>
                        <input matInput type="text" id="companyName" [(ngModel)]="company.companyName"
                            placeholder="Enter Company Name" required name="companyName" #companyName="ngModel">
                        <mat-error *ngIf="companyName.errors?.required"> Company name is required. </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Comapany URL</mat-label>
                        <input matInput type="text" id="companyURL" [(ngModel)]="company.companyURL"
                            placeholder="Company URL" required name="companyURL" #companyURL="ngModel">
                        <mat-error *ngIf="companyURL.errors?.required"> Company URL is required. </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Select Location</mat-label>
                        <mat-select id="location" name="location" [(ngModel)]="company.location" #select multiple>
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelection()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClick()" *ngFor="let location of locations"
                                [value]="location.location">
                                {{location.location}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Remarks</mat-label>
                        <input matInput type="text" id="remarks" [(ngModel)]="company.remarks" placeholder="Remarks"
                            required name="remarks" #remarks="ngModel">
                        <mat-error *ngIf="remarks.errors?.required"> Remark is required. </mat-error>
                    </mat-form-field>

                </div>

                <br>

                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="100px"
                    fxLayoutGap.lt-md="10px">
                    <!-- <mat-form-field fxFlex appearance="outline">
                        <input matInput type="text" id="emailId" [(ngModel)]="company.corporatePresentation"
                            placeholder="Corporate Presentation" required name="corporatePresentation"
                            #corporatePresentation="ngModel">
                        <mat-error *ngIf="corporatePresentation.errors?.required"> Corporate presentation is required.
                        </mat-error>
                    </mat-form-field> -->
                    <div fxFlex="20">
                        <label>Corporate Presentation</label> <br>
                        <hr>
                        <input type="file" name="doc" (change)="onDocSelect($event)" accept=".pdf,.doc,.docx" required>
                    </div>
                </div>
                <br>
                <div style="text-align: end;">
                    <button mat-button style="margin-right: 1%;" class="background-primary text-floral-white"
                        (click)="cancel()">Cancel</button>
                    <button mat-button class="background-primary text-floral-white" type="submit"
                        [disabled]="companyForm.form.invalid">Register</button>
                </div>
            </form>
        </div>

        <div [hidden]="!submitted">
            <h4>Successfully submitted!</h4>
        </div>
        <br>
    </div>

    <div id="locationForm" style="display: none;">
        <h3>Add New Location</h3>
        <!-- <p>{{locationForm.value | json}}</p> -->
        <hr>
        <br>
        <form autocomplete="off" novalidate [formGroup]="locationForm" (ngSubmit)="submitLocation()">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="5px">
                <mat-form-field fxFlex="25">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" id="location" placeholder="Enter location name.."
                        formControlName="location" required>
                    <mat-error>Location name is required.</mat-error>
                </mat-form-field>
            </div>

            <div>
                <button style="margin-right: 2%;" type="button" mat-raised-button color="warn"
                    (click)="back()">Back</button>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="locationForm.invalid">Create</button>
            </div>
        </form>

    </div>

</mat-card>